<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test name="App">
        <parameter name="platformName" value="Android"></parameter>
        <parameter name="deviceName" value="Galaxy S9"></parameter>
        <parameter name="platformVersion" value="10"></parameter>


        <classes>
            <class name ="AppAutomation">
            </class>
            <!--            <class name="App"></class>-->
        </classes>

    </test>


</suite>